.card {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.activities-card-p {
    margin-left: 1.2%;
    margin-top: 1%
}

.spacing-div {
    padding: 2.5rem;
}

.create-activity-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

#activities-h1 {
    margin-top: 1%;
}