#register-form {
    margin-left: 40%;
    margin-right: 40%;
}

.form-group {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.register-h1 {
    text-align: center;
    margin-top: 5%;
}