.card {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 10px 10px 5px #ccc;
}

.routine-card-p {
    margin-left: 1.2%;
    margin-top: 1%;
}

.spacing-div {
    padding: 2.5rem;
}

#create-routine-button {
    background-color: green;
    border-color: green;
}

.create-routine-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

#routines-h1 {
    margin-top: 1%;
    margin-left: 1%;
}