#single-routine-button {
    margin-left: 1%;
    margin-top: 1%;
}

.single-routine-h1 {
    text-align: center;
}

.single-routine-p {
    margin-left: 1.2%;
    margin-top: 1%
}

.spacing-div {
    padding: 2.5rem;
}

#add-activity-button {
    margin-top: 1%;
    background-color: green;
    border-color: green;
}